# PREVENTING BANK CUSTOMER CHURN!

We aim to accomplist the following for this study:

Identify and visualize which factors contribute to customer churn:

Build a prediction model that will perform the following:

Classify if a customer is going to churn or not
Preferably and based on model performance, choose a model that will attach a probability to the churn to make it easier for customer service to target low hanging fruits in their efforts to prevent churn

### Library importation

In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from hyperopt import fmin, tpe, hp
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

# For visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [2]:
# 1. Reading data from CSV
def read_csv(file_path):
    return pd.read_csv(file_path)

# 2. Creating features
def create_features(data):
    # No feature creation for this example
    return data
# 3. Training a classifier model
def train_classifier(data):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    model = RandomForestClassifier()
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)

    return model, accuracy

# 4. Hyperparameter tuning with Hyperopt
def objective(params):
    model = RandomForestClassifier(**params)
    score = cross_val_score(model, X, y, cv=5).mean()
    return -score  # Minimize negative accuracy

# 5. Evaluating the model on the test set
def evaluate_model(model, X_test, y_test):
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    return accuracy

In [3]:
file_path = '/content/drive/MyDrive/dataset/Bank_Churners.csv'

In [4]:
data = read_csv(file_path)
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,NaN,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     8608 non-null   object
 6   Marital_Status                                                                                                                      9378 non-null   object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [7]:
columns_to_drop = ['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
                   'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']
data = data.drop(columns=columns_to_drop,axis=1)

In [8]:
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,NaN,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [9]:
data.isna().sum()

CLIENTNUM                      0
Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level             1519
Marital_Status               749
Income_Category                0
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal            0
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1           0
Total_Trans_Amt                0
Total_Trans_Ct                 0
Total_Ct_Chng_Q4_Q1            0
Avg_Utilization_Ratio          0
dtype: int64

In [10]:
data['Education_Level'].value_counts()

Graduate         3128
High School      2013
Uneducated       1487
College          1013
Post-Graduate     516
Doctorate         451
Name: Education_Level, dtype: int64

In [11]:
data['Marital_Status'].value_counts()

Married     4687
Single      3943
Divorced     748
Name: Marital_Status, dtype: int64

In [12]:
#checking missing values
df_null_summary = pd.concat(
    [data.isnull().sum(), data.isnull().sum() *100/ data.isnull().count()], axis=1)

df_null_summary.columns = ["Null Record Count", "Percentage of Null Records"]
df_null_summary[df_null_summary["Null Record Count"] > 0].sort_values(
    by="Percentage of Null Records", ascending=False
).style.background_gradient(cmap="YlOrRd")

In [13]:
#get unique values of each colum
features = data.columns

for i in features:
    print('''Unique value of {}\n{}\nlen is {} \n##############\n
          '''.format(i, data[i].unique(),len(data[i].unique())))

Unique value of CLIENTNUM
[768805383 818770008 713982108 ... 716506083 717406983 714337233]
len is 10127
##############


Unique value of Attrition_Flag
['Existing Customer' 'Attrited Customer']
len is 2
##############


Unique value of Customer_Age
[45 49 51 40 44 32 37 48 42 65 56 35 57 41 61 47 62 54 59 63 53 58 55 66
 50 38 46 52 39 43 64 68 67 60 73 70 36 34 33 26 31 29 30 28 27]
len is 45
##############


Unique value of Gender
['M' 'F']
len is 2
##############


Unique value of Dependent_count
[3 5 4 2 0 1]
len is 6
##############


Unique value of Education_Level
['High School' 'Graduate' 'Uneducated' nan 'College' 'Post-Graduate'
 'Doctorate']
len is 7
##############


Unique value of Marital_Status
['Married' 'Single' nan 'Divorced']
len is 4
##############


Unique value of Income_Category
['$60K - $80K' 'Less than $40K' '$80K - $120K' '$40K - $60K' '$120K +'
 'abc']
len is 6
##############


Unique value of Card_Category
['Blue' 'Gold' 'Silver' 'Platinum']
len is 4
##############


Unique value of Months_on_book
[39 44 36 34 21 46 27 31 54 30 48 37 56 42 49 33 28 38 41 43 45 52 40 50
 35 47 32 20 29 25 53 24 55 23 22 26 13 51 19 15 17 18 16 14]
len is 44
##############


Unique value of Total_Relationship_Count
[5 6 4 3 2 1]
len is 6
##############


Unique value of Months_Inactive_12_mon
[1 4 2 3 6 0 5]
len is 7
##############


Unique value of Contacts_Count_12_mon
[3 2 0 1 4 5 6]
len is 7
##############


Unique value of Credit_Limit
[12691.  8256.  3418. ...  5409.  5281. 10388.]
len is 6205
##############


Unique value of Total_Revolving_Bal
[ 777  864    0 ...  534  476 2241]
len is 1974
##############


Unique value of Avg_Open_To_Buy
[11914.  7392.  3418. ... 11831.  5409.  8427.]
len is 6813
##############


Unique value of Total_Amt_Chng_Q4_Q1
[1.335 1.541 2.594 ... 0.222 0.204 0.166]
len is 1158
##############


Unique value of Total_Trans_Amt
[ 1144  1291  1887 ... 10291  8395 10294]
len is 5033
##############


Unique value of Total_Trans_Ct
[ 42  33  20  28  24  31  36  32  26  17  29  27  21  30  16  18  23  22
  40  38  25  43  37  19  35  15  41  57  12  14  34  44  13  47  10  39
  53  50  52  48  49  45  11  55  46  54  60  51  63  58  59  61  78  64
  65  62  67  66  56  69  71  75  74  76  84  82  88  68  70  73  86  72
  79  80  85  81  87  83  91  89  77 103  93  96  99  92  90  94  95  98
 100 102  97 101 104 105 106 107 109 118 108 122 113 112 111 127 114 124
 110 120 125 121 117 126 134 116 119 129 131 115 128 139 123 130 138 132]
len is 126
##############


Unique value of Total_Ct_Chng_Q4_Q1
[1.625 3.714 2.333 2.5   0.846 0.722 0.714 1.182 0.882 0.68  1.364 3.25
 2.    0.611 1.7   0.929 1.143 0.909 0.6   1.571 0.353 0.75  0.833 1.3
 1.    0.9   2.571 1.6   1.667 0.483 1.176 1.2   0.556 0.143 0.474 0.917
 1.333 0.588 0.8   1.923 0.25  0.364 1.417 1.083 1.25  0.5   1.154 0.733
 0.667 2.4   1.05  0.286 0.4   0.522 0.435 1.875 0.966 1.412 0.526 0.818
 1.8   1.636 2.182 0.619 0.933 1.222 0.304 0.727 0.385 1.5   0.789 0.542
 1.1   1.095 0.824 0.391 0.346 3.    1.056 1.118 0.786 0.625 1.533 0.382
 0.355 0.765 0.778 2.2   1.545 0.7   1.211 1.231 0.636 0.455 2.875 1.308
 0.467 1.909 0.571 0.812 2.429 0.706 2.167 0.263 0.429 2.286 0.828 1.467
 0.478 0.867 0.88  1.444 1.273 0.941 0.684 0.591 0.762 0.529 0.615 0.519
 0.421 0.947 1.167 1.105 0.737 1.263 0.538 1.071 0.357 0.407 0.923 1.455
 0.35  2.273 0.69  0.65  0.167 0.647 1.615 0.545 0.875 1.125 0.462 1.294
 1.357 3.5   1.067 1.286 0.524 1.214 0.273 1.538 0.783 0.235 0.607 2.083
 0.632 0.368 0.444 0.76  0.536 0.438 0.423 2.1   0.565 0.719 0.182 1.75
 0.944 0.581 0.333 0.643 0.87  0.692 1.227 0.938 1.833 0.652 1.462 0.583
 0.679 0.375 1.091 2.75  1.385 1.188 0.261 1.312 0.656 1.235 0.958 0.37
 0.059 0.3   0.613 1.778 0.955 0.864 1.429 0.889 1.438 0.481 0.452 1.13
 0.562 1.048 0.409 0.622 0.688 1.217 0.211 0.606 0.655 0.381 1.053 1.316
 0.575 0.85  0.41  0.609 1.579 0.56  0.276 0.533 0.515 0.308 0.852 0.371
 0.214 0.63  0.231 0.406 0.405 0.349 0.857 0.212 0.543 1.059 0.579 0.387
 0.724 0.415 0.895 0.781 0.412 0.649 0.32  0.345 0.367 0.586 0.324 0.306
 0.676 0.708 0.476 0.29  0.55  0.133 0.344 0.52  0.471 0.842 0.654 0.516
 0.464 1.857 0.629 0.963 0.686 0.323 0.585 0.633 0.92  0.441 0.424 0.59
 0.763 0.207 0.314 2.222 1.45  0.469 3.571 0.696 0.741 0.512 1.043 0.568
 0.548 0.194 0.552 0.448 0.651 0.393 0.657 0.682 0.808 1.032 0.577 0.241
 0.425 0.348 0.318 0.292 0.312 0.486 0.969 0.697 0.389 0.44  0.829 0.677
 0.189 0.259 0.72  0.815 1.15  0.806 0.537 0.721 0.531 0.472 0.594 0.773
 0.826 0.906 0.417 0.758 1.107 0.621 0.458 0.267 0.107 0.459 0.71  0.487
 0.95  0.321 0.414 0.742 0.739 0.767 0.394 0.091 0.926 0.618 0.784 0.208
 1.136 0.897 0.593 0.294 0.718 1.375 0.862 0.439 0.839 0.595 1.208 0.96
 0.514 0.433 0.484 1.08  0.931 0.233 0.971 0.957 1.038 0.48  0.731 1.474
 1.062 0.608 1.103 1.111 0.725 1.647 0.774 0.477 0.238 0.967 0.769 0.576
 0.567 1.042 0.759 0.81  1.069 0.574 0.528 0.278 0.703 0.447 0.028 0.297
 1.037 0.269 0.962 0.905 0.111 0.513 0.31  0.614 0.436 0.45  1.48  0.296
 0.879 1.114 0.262 1.278 0.257 0.517 1.36  0.605 1.04  0.711 0.844 0.623
 0.913 0.756 1.045 0.775 0.645 0.793 0.488 0.511 0.811 0.838 0.641 0.646
 0.972 0.559 0.659 0.525 0.038 0.871 0.919 0.179 0.639 0.077 0.564 0.419
 0.853 0.64  0.848 1.033 0.351 0.675 0.743 0.952 1.077 1.087 1.12  0.885
 0.592 0.893 0.265 1.292 0.457 0.771 0.977 0.053 1.318 0.809 0.674 0.968
 0.316 0.15  0.558 0.485 0.735 0.275 0.19  1.381 0.379 0.689 0.561 0.174
 0.217 1.174 0.766 0.683 0.    0.281 0.28  0.492 0.788 0.865 0.881 0.794
 0.712 0.658 0.891 1.24  0.911 0.946 0.2   0.465 0.489 0.541 0.86  0.628
 0.062 0.795 1.722 0.892 0.578 0.704 0.732 0.587 0.956 0.185 0.341 0.58
 0.378 1.036 0.549 0.491 0.702 0.638 0.176 0.912 0.535 0.521 0.653 0.604
 0.73  0.66  1.139 0.509 1.882 0.463 0.634 0.694 1.148 0.757 1.35  0.362
 0.822 0.755 0.395 0.861 0.738 1.133 0.872 0.886 1.156 0.532 1.03  0.453
 0.821 1.034 0.635 0.154 0.903 1.207 1.31  0.523 0.878 0.744 0.317 0.93
 0.24  0.804 0.761 0.54  0.479 0.551 1.4   0.553 0.426 0.816 0.698 0.227
 0.896 0.792 1.051 0.61  0.884 0.408 0.617 0.935 0.361 0.902 0.78  0.841
 0.796 0.975 1.081 0.707 0.422 0.964 0.172 0.805 0.717 0.347 1.138 0.791
 0.681 0.256 1.609 0.868 0.468 0.432 1.121 0.787 0.596 0.976 1.158 1.028
 0.949 0.451 0.456 0.837 1.212 0.673 0.222 0.171 0.51  0.685 0.396 0.388
 0.644 0.914 1.476 0.46  0.547 1.421 0.825 0.729 0.723 1.471 0.939 0.974
 0.943 0.84  0.627 0.13  1.147 0.327 1.065 0.705 1.37  0.854 0.951 0.569
 0.921 0.776 0.927 0.449 0.475 0.97  1.097 0.612 1.024 1.088 0.648 0.242
 0.661 0.745 1.522 0.843 0.907 1.027 1.783 0.62  0.814 1.026 0.851 1.094
 0.431 1.057 0.226 0.736 0.103 1.29  0.925 0.566 0.161 0.303 1.152 1.65
 0.74  1.194 1.226 0.642 1.323 1.025 1.074 0.508 0.49  0.534 0.83  0.978
 1.206 1.054 0.936 0.932 0.105 1.061 1.031 1.478 0.898 0.672 0.188 0.518
 0.953 1.049 1.086 0.691 0.411 1.029 1.419 1.075 0.206 0.973 1.219 1.162
 0.827 1.321 0.343 0.764 0.125 0.119 1.189 1.179 1.258 1.229 1.073 0.074
 1.458 1.172 1.32  1.108 1.16  0.36  1.391 1.583 0.147 1.115 0.359 1.128
 0.915 0.282 0.162 1.303 0.582 1.382 1.171 0.029 1.161 0.192 1.346 0.473
 0.097 0.82  0.557 0.894 1.135 1.367 1.023 0.544 0.589 0.603 0.442 0.295
 0.434 0.554 0.372 0.527 0.709 0.782 0.797 0.695 0.849 0.768 0.863 0.746
 0.597 0.631 0.678 0.887 0.754 0.687 0.699 0.873 0.716 0.934 0.847 0.244
 0.803 0.772 0.859 1.064 0.819 0.573 0.807 0.79  0.817 0.785 0.823 0.836
 0.616 0.831 1.06  1.122 0.866 0.662 0.869 0.779 0.981 0.293 0.855 0.98
 0.671 1.079 0.693 0.77  1.093 1.018 1.022 0.734 0.753 0.726 0.922 0.948
 1.684 0.918]
len is 830
##############


Unique value of Avg_Utilization_Ratio
[0.061 0.105 0.    0.76  0.311 0.066 0.048 0.113 0.144 0.217 0.174 0.195
 0.279 0.23  0.078 0.095 0.788 0.08  0.086 0.152 0.626 0.215 0.093 0.099
 0.285 0.658 0.69  0.282 0.562 0.135 0.544 0.757 0.241 0.077 0.018 0.355
 0.145 0.209 0.793 0.074 0.259 0.591 0.687 0.127 0.667 0.843 0.422 0.156
 0.525 0.587 0.211 0.088 0.111 0.044 0.276 0.704 0.656 0.053 0.051 0.467
 0.698 0.067 0.079 0.287 0.36  0.256 0.719 0.198 0.14  0.035 0.619 0.108
 0.062 0.765 0.963 0.524 0.347 0.45  0.232 0.299 0.085 0.059 0.43  0.62
 0.027 0.169 0.058 0.223 0.057 0.513 0.473 0.047 0.106 0.05  0.03  0.615
 0.15  0.407 0.191 0.096 0.176 0.83  0.412 0.678 0.246 0.271 0.114 0.395
 0.406 0.258 0.178 0.941 0.141 0.118 0.119 0.64  0.432 0.612 0.359 0.309
 0.101 0.607 0.512 0.806 0.463 0.77  0.076 0.133 0.037 0.146 0.171 0.069
 0.837 0.055 0.294 0.39  0.19  0.692 0.503 0.251 0.11  0.087 0.214 0.164
 0.049 0.043 0.679 0.098 0.694 0.039 0.199 0.22  0.13  0.202 0.319 0.165
 0.863 0.665 0.598 0.539 0.472 0.064 0.16  0.42  0.713 0.092 0.336 0.666
 0.147 0.987 0.073 0.88  0.28  0.65  0.761 0.072 0.327 0.459 0.252 0.244
 0.291 0.46  0.489 0.482 0.24  0.197 0.866 0.317 0.762 0.162 0.196 0.734
 0.446 0.262 0.042 0.094 0.308 0.68  0.238 0.753 0.877 0.724 0.117 0.638
 0.102 0.131 0.255 0.716 0.609 0.405 0.154 0.605 0.275 0.06  0.07  0.186
 0.648 0.167 0.153 0.79  0.732 0.123 0.221 0.2   0.063 0.785 0.771 0.224
 0.795 0.187 0.583 0.316 0.447 0.625 0.514 0.557 0.955 0.867 0.846 0.756
 0.31  0.373 0.935 0.155 0.435 0.932 0.829 0.953 0.188 0.82  0.616 0.595
 0.521 0.268 0.09  0.885 0.546 0.569 0.183 0.639 0.329 0.274 0.161 0.865
 0.73  0.134 0.137 0.478 0.361 0.312 0.036 0.243 0.805 0.168 0.103 0.179
 0.529 0.227 0.706 0.075 0.804 0.708 0.766 0.381 0.046 0.428 0.112 0.041
 0.85  0.517 0.72  0.056 0.548 0.436 0.201 0.523 0.081 0.403 0.671 0.752
 0.194 0.657 0.476 0.729 0.911 0.78  0.35  0.636 0.632 0.226 0.798 0.781
 0.148 0.029 0.12  0.651 0.257 0.204 0.231 0.18  0.617 0.458 0.142 0.054
 0.374 0.491 0.216 0.572 0.32  0.212 0.545 0.314 0.393 0.599 0.33  0.663
 0.159 0.185 0.371 0.506 0.448 0.128 0.269 0.333 0.125 0.091 0.53  0.303
 0.682 0.456 0.584 0.337 0.51  0.819 0.543 0.81  0.189 0.213 0.068 0.033
 0.261 0.071 0.41  0.712 0.515 0.593 0.203 0.286 0.457 0.654 0.122 0.345
 0.825 0.1   0.206 0.976 0.17  0.292 0.139 0.109 0.278 0.324 0.745 0.402
 0.397 0.045 0.177 0.611 0.284 0.578 0.318 0.803 0.594 0.684 0.019 0.722
 0.032 0.115 0.511 0.306 0.104 0.219 0.709 0.621 0.082 0.553 0.465 0.707
 0.166 0.859 0.677 0.253 0.586 0.425 0.801 0.084 0.645 0.149 0.343 0.878
 0.304 0.814 0.342 0.848 0.163 0.222 0.469 0.519 0.272 0.325 0.702 0.181
 0.693 0.809 0.479 0.468 0.356 0.811 0.34  0.63  0.372 0.637 0.507 0.749
 0.129 0.674 0.794 0.582 0.464 0.065 0.315 0.691 0.501 0.218 0.56  0.175
 0.5   0.378 0.613 0.313 0.727 0.239 0.603 0.57  0.27  0.034 0.247 0.737
 0.124 0.589 0.534 0.237 0.136 0.789 0.777 0.52  0.653 0.016 0.346 0.721
 0.675 0.138 0.266 0.442 0.326 0.301 0.717 0.023 0.025 0.25  0.281 0.796
 0.296 0.334 0.471 0.571 0.352 0.143 0.608 0.775 0.67  0.321 0.696 0.689
 0.624 0.408 0.157 0.439 0.672 0.302 0.225 0.357 0.527 0.431 0.831 0.755
 0.786 0.026 0.659 0.416 0.451 0.052 0.404 0.394 0.391 0.736 0.854 0.791
 0.126 0.363 0.874 0.297 0.341 0.344 0.208 0.733 0.234 0.116 0.828 0.365
 0.182 0.384 0.526 0.396 0.031 0.516 0.748 0.354 0.349 0.233 0.497 0.248
 0.339 0.132 0.588 0.764 0.705 0.575 0.536 0.021 0.205 0.835 0.549 0.74
 0.889 0.083 0.596 0.735 0.827 0.522 0.711 0.377 0.351 0.242 0.366 0.697
 0.328 0.778 0.743 0.492 0.715 0.623 0.488 0.263 0.568 0.089 0.779 0.47
 0.264 0.415 0.58  0.452 0.289 0.635 0.229 0.75  0.695 0.6   0.784 0.173
 0.822 0.812 0.265 0.574 0.475 0.295 0.662 0.3   0.566 0.994 0.669 0.04
 0.856 0.532 0.461 0.559 0.331 0.602 0.445 0.466 0.597 0.646 0.474 0.305
 0.556 0.742 0.631 0.718 0.606 0.647 0.758 0.644 0.499 0.873 0.245 0.487
 0.558 0.49  0.121 0.869 0.797 0.437 0.772 0.7   0.934 0.857 0.015 0.547
 0.353 0.699 0.495 0.409 0.29  0.293 0.494 0.477 0.235 0.894 0.417 0.881
 0.207 0.928 0.484 0.852 0.038 0.228 0.643 0.655 0.283 0.642 0.581 0.379
 0.542 0.579 0.434 0.44  0.535 0.913 0.776 0.551 0.401 0.273 0.172 0.375
 0.714 0.668 0.362 0.833 0.633 0.783 0.614 0.763 0.844 0.744 0.61  0.453
 0.481 0.563 0.418 0.399 0.348 0.59  0.413 0.498 0.267 0.398 0.386 0.815
 0.249 0.429 0.799 0.751 0.821 0.323 0.107 0.807 0.816 0.99  0.573 0.449
 0.883 0.768 0.925 0.773 0.38  0.604 0.411 0.832 0.184 0.438 0.552 0.792
 0.376 0.641 0.37  0.158 0.426 0.277 0.493 0.629 0.02  0.236 0.21  0.726
 0.531 0.92  0.949 0.628 0.731 0.518 0.358 0.554 0.893 0.943 0.944 0.601
 0.307 0.725 0.368 0.924 0.661 0.151 0.769 0.576 0.424 0.664 0.024 0.922
 0.537 0.884 0.483 0.462 0.899 0.622 0.013 0.954 0.683 0.192 0.774 0.824
 0.858 0.984 0.414 0.561 0.879 0.504 0.509 0.968 0.918 0.836 0.332 0.028
 0.938 0.541 0.48  0.533 0.528 0.254 0.423 0.288 0.369 0.93  0.813 0.915
 0.364 0.688 0.902 0.868 0.942 0.567 0.022 0.703 0.585 0.906 0.754 0.855
 0.839 0.681 0.298 0.872 0.455 0.929 0.008 0.388 0.912 0.322 0.853 0.454
 0.685 0.747 0.66  0.904 0.738 0.485 0.496 0.577 0.927 0.746 0.565 0.634
 0.887 0.845 0.951 0.444 0.427 0.962 0.564 0.851 0.897 0.876 0.421 0.012
 0.649 0.759 0.84  0.842 0.87  0.097 0.983 0.433 0.387 0.441 0.767 0.903
 0.592 0.895 0.896 0.652 0.8   0.4   0.017 0.862 0.849 0.676 0.999 0.921
 0.673 0.948 0.004 0.864 0.55  0.787 0.392 0.443 0.505 0.538 0.71  0.367
 0.985 0.741 0.826 0.817 0.508 0.26  0.618 0.94  0.916 0.823 0.9   0.193
 0.419 0.841 0.919 0.959 0.723 0.486 0.54  0.905 0.385 0.782 0.006 0.502
 0.802 0.875 0.931 0.011 0.926 0.728 0.382 0.335 0.891 0.871 0.701 0.739
 0.383 0.834 0.898 0.389 0.901 0.988 0.907 0.686 0.86  0.882 0.861 0.917
 0.555 0.808 0.338 0.96  0.972 0.01  0.847 0.964 0.886 0.995 0.818 0.958
 0.627 0.992 0.952 0.91  0.978 0.973 0.971 0.945 0.914 0.977 0.956 0.909
 0.005 0.007 0.014 0.009]
len is 964
##############

In [14]:
# statistical summary of the numerical columns in the data
data.describe().T

,count,mean,std,min,25%,50%,75%,max
CLIENTNUM,10127.0,7.391776e+08,3.690378e+07,708082083.0,7.130368e+08,7.179264e+08,7.731435e+08,8.283431e+08
Customer_Age,10127.0,4.632596e+01,8.016814e+00,26.0,4.100000e+01,4.600000e+01,5.200000e+01,7.300000e+01
Dependent_count,10127.0,2.346203e+00,1.298908e+00,0.0,1.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00
Months_on_book,10127.0,3.592841e+01,7.986416e+00,13.0,3.100000e+01,3.600000e+01,4.000000e+01,5.600000e+01
Total_Relationship_Count,10127.0,3.812580e+00,1.554408e+00,1.0,3.000000e+00,4.000000e+00,5.000000e+00,6.000000e+00
Months_Inactive_12_mon,10127.0,2.341167e+00,1.010622e+00,0.0,2.000000e+00,2.000000e+00,3.000000e+00,6.000000e+00
Contacts_Count_12_mon,10127.0,2.455317e+00,1.106225e+00,0.0,2.000000e+00,2.000000e+00,3.000000e+00,6.000000e+00
Credit_Limit,10127.0,8.631954e+03,9.088777e+03,1438.3,2.555000e+03,4.549000e+03,1.106750e+04,3.451600e+04
Total_Revolving_Bal,10127.0,1.162814e+03,8.149873e+02,0.0,3.590000e+02,1.276000e+03,1.784000e+03,2.517000e+03
Avg_Open_To_Buy,10127.0,7.469140e+03,9.090685e+03,3.0,1.324500e+03,3.474000e+03,9.859000e+03,3.451600e+04
Total_Amt_Chng_Q4_Q1,10127.0,7.599407e-01,2.192068e-01,0.0,6.310000e-01,7.360000e-01,8.590000e-01,3.397000e+00
Total_Trans_Amt,10127.0,4.404086e+03,3.397129e+03,510.0,2.155500e+03,3.899000e+03,4.741000e+03,1.848400e+04
Total_Trans_Ct,10127.0,6.485869e+01,2.347257e+01,10.0,4.500000e+01,6.700000e+01,8.100000e+01,1.390000e+02
Total_Ct_Chng_Q4_Q1,10127.0,7.122224e-01,2.380861e-01,0.0,5.820000e-01,7.020000e-01,8.180000e-01,3.714000e+00
Avg_Utilization_Ratio,10127.0,2.748936e-01,2.756915e-01,0.0,2.300000e-02,1.760000e-01,5.030000e-01,9.990000e-01

In [15]:
# Statistical summary of the non-numerical columns in the data
data.describe(exclude = np.number).T

                 count unique                top  freq
Attrition_Flag   10127      2  Existing Customer  8500
Gender           10127      2                  F  5358
Education_Level   8608      6           Graduate  3128
Marital_Status    9378      3            Married  4687
Income_Category  10127      6     Less than $40K  3561
Card_Category    10127      4               Blue  9436

In [16]:
# printing unique value counts and percentages for the category/object type variables
def get_catagory_unique_value():
  for cat_cols in (data.select_dtypes(exclude=[np.int64, np.float64]).columns.unique().to_list()):
    print("Unique values and corresponding data counts for feature:" + cat_cols)
    print('-'*50)

    df_temp = pd.concat(
        [
            data[cat_cols].value_counts(),
            data[cat_cols].value_counts(normalize = True)
        ],
        axis=1
    )
    df_temp.columns = ["Count", "Percentage"]
    print(df_temp)
    print('-'*50)

In [17]:
get_catagory_unique_value()

Unique values and corresponding data counts for feature:Attrition_Flag
--------------------------------------------------
                   Count  Percentage
Existing Customer   8500     0.83934
Attrited Customer   1627     0.16066
--------------------------------------------------
Unique values and corresponding data counts for feature:Gender
--------------------------------------------------
   Count  Percentage
F   5358    0.529081
M   4769    0.470919
--------------------------------------------------
Unique values and corresponding data counts for feature:Education_Level
--------------------------------------------------
               Count  Percentage
Graduate        3128    0.363383
High School     2013    0.233852
Uneducated      1487    0.172746
College         1013    0.117681
Post-Graduate    516    0.059944
Doctorate        451    0.052393
--------------------------------------------------
Unique values and corresponding data counts for feature:Marital_Status
--------------------------------------------------
          Count  Percentage
Married    4687    0.499787
Single     3943    0.420452
Divorced    748    0.079761
--------------------------------------------------
Unique values and corresponding data counts for feature:Income_Category
--------------------------------------------------
                Count  Percentage
Less than $40K   3561    0.351634
$40K - $60K      1790    0.176755
$80K - $120K     1535    0.151575
$60K - $80K      1402    0.138442
abc              1112    0.109805
$120K +           727    0.071788
--------------------------------------------------
Unique values and corresponding data counts for feature:Card_Category
--------------------------------------------------
          Count  Percentage
Blue       9436    0.931767
Silver      555    0.054804
Gold        116    0.011455
Platinum     20    0.001975
--------------------------------------------------

In [18]:
# Dropping column - ID
data.drop(columns = ['CLIENTNUM'],axis = 1, inplace = True)

In [19]:
# subset to view incorrect values
data[data.Income_Category == "abc"]

          Attrition_Flag  Customer_Age Gender  Dependent_count  \
19     Existing Customer            45      F                2
28     Existing Customer            44      F                3
39     Attrited Customer            66      F                0
44     Existing Customer            38      F                4
58     Existing Customer            44      F                5
83     Existing Customer            59      F                1
94     Existing Customer            45      F                3
100    Existing Customer            49      F                3
101    Existing Customer            41      F                3
138    Existing Customer            63      F                1
148    Existing Customer            47      F                4
151    Existing Customer            68      M                1
158    Existing Customer            44      F                2
161    Existing Customer            59      F                1
170    Existing Customer            45      F                4
185    Existing Customer            49      F                3
189    Existing Customer            41      F                2
246    Existing Customer            46      F                3
267    Existing Customer            43      F                4
283    Attrited Customer            54      F                2
288    Attrited Customer            54      F                4
289    Existing Customer            54      F                3
291    Existing Customer            50      F                4
306    Existing Customer            36      F                3
315    Existing Customer            38      F                2
324    Existing Customer            55      F                2
358    Existing Customer            61      F                0
375    Existing Customer            49      F                4
432    Existing Customer            67      F                0
453    Existing Customer            39      F                3
471    Existing Customer            42      F                5
492    Existing Customer            56      F                1
498    Existing Customer            44      M                1
500    Existing Customer            45      F                4
509    Attrited Customer            45      F                3
534    Attrited Customer            53      F                2
547    Existing Customer            61      F                1
550    Existing Customer            42      F                2
555    Existing Customer            36      F                4
586    Existing Customer            56      F                2
605    Existing Customer            35      F                1
616    Existing Customer            44      F                3
618    Existing Customer            38      F                3
628    Existing Customer            37      F                3
650    Existing Customer            51      F                3
692    Existing Customer            50      F                4
694    Existing Customer            62      F                0
696    Existing Customer            57      F                3
724    Existing Customer            38      F                3
728    Attrited Customer            59      F                1
735    Existing Customer            47      F                1
736    Existing Customer            42      F                4
755    Existing Customer            39      F                1
759    Existing Customer            51      F                3
773    Existing Customer            61      M                0
775    Attrited Customer            62      F                1
795    Existing Customer            65      F                0
823    Existing Customer            55      F                3
824    Existing Customer            43      F                1
827    Existing Customer            46      F                4
851    Existing Customer            62      F                0
855    Existing Customer            39      F                2
861    Existing Customer            65      F                0
868    Existing Customer            43      F                2
873    Existing Customer            53      F                3
877    Existing Customer            42      F                2
886    Existing Customer            49      F                3
890    Existing Customer            30      F                0
893    Existing Customer            54      F                3
910    Existing Customer            26      M                0
917    Existing Customer            33      F                4
920    Existing Customer            60      F                0
928    Existing Customer            38      F                3
933    Existing Customer            64      F                0
937    Existing Customer            52      F                4
946    Existing Customer            45      F                4
970    Existing Customer            49      F                5
1008   Existing Customer            39      F                1
1015   Existing Customer            40      F                1
1034   Existing Customer            40      F                4
1040   Existing Customer            33      F                0
1044   Attrited Customer            41      F                2
1061   Existing Customer            65      F                1
1062   Attrited Customer            58      F                4
1065   Existing Customer            39      F                4
1068   Existing Customer            35      F                2
1071   Existing Customer            53      F                3
1085   Existing Customer            45      F                3
1087   Existing Customer            65      M                2
1089   Existing Customer            26      M                0
1123   Existing Customer            36      F                3
1130   Existing Customer            53      F                2
1153   Existing Customer            46      F                3
1177   Existing Customer            39      F                2
1187   Existing Customer            51      F                4
1188   Existing Customer            32      M                1
1202   Attrited Customer            51      F                3
1215   Existing Customer            64      F                0
1216   Existing Customer            39      F                3
1219   Existing Customer            38      F                4
1241   Existing Customer            55      F                2
1242   Existing Customer            57      F                4
1258   Existing Customer            38      F                4
1265   Existing Customer            27      F                1
1277   Existing Customer            31      F                1
1278   Attrited Customer            46      F                3
1288   Existing Customer            62      F                0
1297   Existing Customer            39      F                2
1301   Existing Customer            41      F                4
1309   Existing Customer            55      F                1
1313   Existing Customer            37      M                2
1324   Existing Customer            58      F                4
1340   Existing Customer            51      F                1
1350   Attrited Customer            31      F                2
1362   Existing Customer            40      F                1
1366   Existing Customer            63      F                1
1374   Existing Customer            61      F                0
1378   Existing Customer            32      F                0
1392   Existing Customer            56      F                4
1402   Existing Customer            46      F                3
1405   Existing Customer            38      F                0
1410   Existing Customer            39      F                3
1441   Existing Customer            36      F                0
1443   Attrited Customer            37      F                3
1448   Existing Customer            63      F                0
1451   Existing Customer            33      F                2
1455   Existing Customer            39      F                2
1456   Existing Customer            50      F                5
1465   Attrited Customer            42      F                5
1479   Existing Customer            55      F                2
1495   Existing Customer            32      M                1
1502   Existing Customer            62      F                0
1503   Existing Customer            26      F                0
1504   Existing Customer            49      F                5
1523   Existing Customer            26      M                0
1536   Existing Customer            35      F                2
1539   Existing Customer            52      F                2
1553   Existing Customer            53      F                2
1560   Existing Customer            33      F                0
1581   Existing Customer            33      F                2
1592   Existing Customer            26      F                0
1599   Existing Customer            35      F                1
1602   Attrited Customer            54      F                3
1619   Existing Customer            53      F                3
1636   Existing Customer            29      F                1
1651   Existing Customer            35      F                2
1679   Existing Customer            55      F                3
1681   Existing Customer            57      F                3
1684   Existing Customer            36      F                4
1694   Existing Customer            40      F                3
1725   Existing Customer            39      F                2
1726   Existing Customer            28      F                0
1734   Existing Customer            37      F                3
1743   Existing Customer            58      F                1
1748   Existing Customer            30      F                1
1762   Existing Customer            52      F                2
1763   Existing Customer            26      F                1
1775   Existing Customer            39      F                0
1803   Existing Customer            33      F                1
1834   Existing Customer            54      F                3
1851   Existing Customer            34      F                3
1854   Existing Customer            54      F                2
1877   Existing Customer            35      F                4
1888   Existing Customer            34      M                2
1897   Existing Customer            36      F                1
1904   Existing Customer            40      F                3
1906   Existing Customer            26      F                0
1919   Existing Customer            47      F                3
1921   Existing Customer            48      F                2
1925   Existing Customer            62      F                0
1964   Existing Customer            41      F                4
1967   Existing Customer            43      F                3
1974   Existing Customer            37      F                3
1985   Existing Customer            32      M                0
1990   Existing Customer            65      M                0
2011   Existing Customer            48      F                4
2029   Existing Customer            36      F                2
2036   Existing Customer            37      F                3
2038   Existing Customer            52      F                3
2050   Existing Customer            39      F                2
2063   Existing Customer            37      F                1
2090   Existing Customer            26      M                0
2093   Existing Customer            42      F                2
2094   Existing Customer            30      M                1
2096   Existing Customer            47      F                2
2099   Existing Customer            65      F                1
2129   Existing Customer            51      F                1
2132   Existing Customer            56      F                2
2136   Existing Customer            26      F                1
2144   Existing Customer            56      F                5
2160   Existing Customer            35      F                1
2179   Existing Customer            54      F                1
2180   Existing Customer            26      F                2
2201   Attrited Customer            55      F                2
2209   Existing Customer            37      F                1
2210   Existing Customer            33      F                2
2231   Existing Customer            64      F                0
2232   Existing Customer            52      F                2
2234   Existing Customer            45      F                4
2242   Existing Customer            29      M                0
2248   Existing Customer            37      M                1
2249   Existing Customer            33      F                2
2256   Existing Customer            34      F                1
2272   Existing Customer            50      F                2
2275   Existing Customer            65      F                1
2284   Attrited Customer            26      F                0
2291   Existing Customer            62      M                1
2323   Existing Customer            56      F                2
2332   Attrited Customer            57      F                3
2333   Existing Customer            65      M                0
2335   Existing Customer            57      F                3
2343   Existing Customer            50      F                2
2348   Existing Customer            65      M                0
2352   Existing Customer            28      M                0
2355   Existing Customer            44      F                3
2358   Existing Customer            28      M                0
2361   Existing Customer            65      F                1
2362   Existing Customer            50      F                2
2377   Existing Customer            65      F                0
2383   Existing Customer            26      F                0
2385   Existing Customer            29      F                2
2395   Existing Customer            39      F                1
2408   Existing Customer            45      F                4
2431   Existing Customer            56      F                1
2435   Existing Customer            52      F                1
2442   Existing Customer            35      F                2
2469   Existing Customer            54      F                1
2492   Existing Customer            35      F                3
2500   Attrited Customer            39      F                3
2508   Existing Customer            48      F                1
2513   Existing Customer            54      F                2
2526   Existing Customer            36      F                3
2538   Existing Customer            60      M                2
2548   Existing Customer            28      M                0
2556   Attrited Customer            45      F                2
2568   Existing Customer            26      F                1
2593   Existing Customer            56      F                0
2616   Existing Customer            43      F                3
2618   Existing Customer            49      F                2
2678   Existing Customer            42      F                3
2690   Existing Customer            51      F                3
2726   Existing Customer            53      F                3
2735   Existing Customer            28      F                0
2741   Existing Customer            32      F                0
2743   Existing Customer            37      F                3
2750   Existing Customer            43      F                3
2753   Existing Customer            55      F                1
2759   Existing Customer            27      M                0
2760   Existing Customer            30      M                1
2778   Existing Customer            56      F                4
2787   Existing Customer            47      F                3
2791   Existing Customer            28      F                0
2809   Existing Customer            36      F                3
2828   Existing Customer            40      F                2
2845   Existing Customer            39      F                1
2858   Existing Customer            31      F                1
2880   Existing Customer            36      F                3
2886   Existing Customer            65      M                1
2904   Existing Customer            48      F                4
2923   Existing Customer            37      F                3
2928   Existing Customer            43      F                4
2949   Existing Customer            34      F                1
2952   Existing Customer            26      M                0
2955   Attrited Customer            65      F                0
2967   Attrited Customer            49      F                2
2968   Existing Customer            45      F                4
2993   Existing Customer            40      F                2
3019   Existing Customer            40      F                2
3027   Existing Customer            49      F                1
3068   Existing Customer            43      F                3
3072   Existing Customer            44      F                4
3085   Existing Customer            53      F                2
3087   Existing Customer            65      F                1
3088   Existing Customer            44      F                3
3111   Existing Customer            51      F                1
3127   Existing Customer            34      F                4
3129   Existing Customer            53      F                1
3137   Existing Customer            42      F                1
3139   Existing Customer            60      F                1
3140   Existing Customer            49      F                2
3144   Existing Customer            46      F                3
3155   Existing Customer            38      F                3
3158   Existing Customer            54      F                2
3161   Existing Customer            63      M                0
3162   Existing Customer            48      F                1
3175   Existing Customer            36      F                2
3200   Existing Customer            46      F                4
3207   Existing Customer            26      F                0
3215   Existing Customer            44      F                1
3230   Existing Customer            46      F                0
3240   Existing Customer            49      F                2
3263   Existing Customer            59      F                2
3266   Existing Customer            40      F                3
3288   Existing Customer            48      F                2
3309   Existing Customer            44      F                5
3317   Existing Customer            43      F                3
3318   Existing Customer            49      F                3
3319   Existing Customer            46      F                4
3320   Attrited Customer            41      F                3
3326   Existing Customer            43      F                4
3329   Existing Customer            40      F                2
3351   Existing Customer            46      F                2
3364   Existing Customer            51      F                1
3391   Existing Customer            45      F                2
3394   Existing Customer            49      F                3
3397   Existing Customer            52      F                3
3407   Existing Customer            44      F                4
3414   Existing Customer            50      F                1
3470   Existing Customer            50      F                1
3477   Existing Customer            43      F                2
3479   Existing Customer            47      F                3
3485   Existing Customer            50      F                4
3511   Existing Customer            45      F                3
3512   Existing Customer            52      F                1
3517   Existing Customer            56      F                3
3524   Existing Customer            44      F                4

In [20]:
len(data[data.Income_Category == "abc"])

1112

In [21]:
data.Income_Category.value_counts()

Less than $40K    3561
$40K - $60K       1790
$80K - $120K      1535
$60K - $80K       1402
abc               1112
$120K +            727
Name: Income_Category, dtype: int64

In [22]:
# replace values with missing
data['Income_Category'].replace('abc', np.nan, inplace=True)

In [23]:
# subset to view incorrect values
data[data['Income_Category'] == 'abc']

Empty DataFrame
Columns: [Attrition_Flag, Customer_Age, Gender, Dependent_count, Education_Level, Marital_Status, Income_Category, Card_Category, Months_on_book, Total_Relationship_Count, Months_Inactive_12_mon, Contacts_Count_12_mon, Credit_Limit, Total_Revolving_Bal, Avg_Open_To_Buy, Total_Amt_Chng_Q4_Q1, Total_Trans_Amt, Total_Trans_Ct, Total_Ct_Chng_Q4_Q1, Avg_Utilization_Ratio]
Index: []

In [24]:
data['Income_Category'].isna().sum()

1112

In [25]:
data['Income_Category'] = data['Income_Category'].fillna(data['Income_Category'].value_counts().index[0])

In [26]:
# check value replacement
data['Income_Category'].value_counts()

Less than $40K    4673
$40K - $60K       1790
$80K - $120K      1535
$60K - $80K       1402
$120K +            727
Name: Income_Category, dtype: int64

In [27]:
data.isna().sum()

Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level             1519
Marital_Status               749
Income_Category                0
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal            0
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1           0
Total_Trans_Amt                0
Total_Trans_Ct                 0
Total_Ct_Chng_Q4_Q1            0
Avg_Utilization_Ratio          0
dtype: int64

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from hyperopt import hp, tpe, fmin

In [35]:
# Split data into features and target
X = data.drop('Attrition_Flag', axis=1)
y = data['Attrition_Flag']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Identify numeric and categorical features
numeric_features = X_train.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X_train.select_dtypes(include=['object']).columns

# Define the space with hyperparameter choices
space = {
    'n_estimators': hp.choice('n_estimators', range(10, 101)),
    'max_depth': hp.choice('max_depth', range(1, 21))
}

# Preprocess the data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(), categorical_features)
    ],
    remainder='passthrough'
)

# Hyperparameter tuning using Tree of Parzen Estimators (TPE)
def objective(params):
    # Preprocess the data
    X_train_preprocessed = preprocessor.fit_transform(X_train)

    model = RandomForestClassifier(**params)
    score = cross_val_score(model, X_train_preprocessed, y_train, cv=5).mean()
    return -score  # Minimize negative accuracy

best_params = fmin(fn=objective, space=space, algo=tpe.suggest, max_evals=100)

# Use best hyperparameters to create a new pipeline
best_params_eval = space_eval(space, best_params)

# Preprocess the entire training set with the best hyperparameters
X_train_preprocessed = preprocessor.fit_transform(X_train)

pipeline_hyp = Pipeline([
    ('classifier', RandomForestClassifier(**best_params_eval))
])

# Train the model with the best hyperparameters
pipeline_hyp.fit(X_train_preprocessed, y_train)

# Preprocess the test set with the best hyperparameters
X_test_preprocessed = preprocessor.transform(X_test)

# Evaluate the model
y_pred_hyp = pipeline_hyp.predict(X_test_preprocessed)
accuracy_hyp = accuracy_score(y_test, y_pred_hyp)
print(f"Model accuracy after hyperparameter tuning on the test set: {accuracy_hyp}")

100%|| 100/100 [05:12<00:00,  3.13s/trial, best loss: -0.9582768600391468]
Model accuracy after hyperparameter tuning on the test set: 0.956071076011846